header{
    border-bottom: 1px dotted black;
}
button{
    cursor: pointer;
}
div#wizard-container{
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}
div#wizard-container div#prompt-container{
    padding: 0.5em 0;
    text-align: center;
    text-decoration: underline;
}
div#wizard-container ul#answer-container{
    text-decoration: none;
}
ul#answer-container li{
    list-style: none;
    text-align: center;
    cursor: pointer;
    padding: 0.3em 0;
}
ul#answer-container li:hover{
    background-color: rgb(222,222,222);
    border: 1px dashed black;
}
h3#end-state{
    text-align: center;
}