header{
    border-bottom: 1px dotted black;
    margin-bottom: 0.5em;
}
button{
    cursor: pointer;
}

div#wizard-container{
    border: 1px solid black;
    background-color: rgb(234,234,234);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90%;
}

div#wizard-container div#wizard-left{
    width: 50%;
    flex-grow: 1;
    margin: 1em;
}

div#wizard-container div#wizard-right{
    width: 50%;
    flex-grow: 1;
    margin: 1em;
    overflow-y:scroll;
}
div#wizard-container div#prompt-container{
    text-align: left;
    text-decoration: underline;
}
div#wizard-container #activity-container{
    background-color: white;
    padding: 1em;
    height: 90%;
}
div#wizard-container #activity-container ul#answer-container{
    text-decoration: none;
}
ul#answer-container li{
    text-align: left;
    cursor: pointer;
    text-indent: 0;
    padding: 0.3em;
}
ul#answer-container li:hover{
    background-color: rgb(222,222,222);
    border: 1px dashed black;
}
h3#end-state{
    text-align: center;
}

table#paths-container{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table#paths-container tr{
    border: 1px solid black;
}
table#paths-container tr th{
    border: 1px solid black;
}
table#paths-container tr td{
    border: 1px solid black;
}
